* {
    margin: 0;
    padding: 0;
    font: inherit;
}

#navibar .navbar-custom {
    background-color: white;
}

#logo {
    margin-right: 20px;
}

#navibar .nav-link {
    color: black;
    font-weight: bolder;
}

#navibar .nav-item {
    margin-left: 10px;
    padding: 2px 5px;
}

#navibar .dropdown-item {
    color: black;
    font-weight: bolder;
}

#trial {
    width: 200px;
    height: 40px;
    margin-left: 30px;
    font-weight: bolder;
    background-color: black;
}

nav {
    box-shadow: 0px 5px #F0F0F0;
}

#navibar .nav-item:hover, #navibar .nav-item:focus {
    background-color: lightgrey;
}