/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: white;
    display: flexbox;
    height: inherit;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0px 0px;
    min-height: 100vh;
    vertical-align: baseline;
}

.container {
    background-color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 40px;
    padding: 15px 40px;
    margin: auto;
    border-bottom-color: white;
}

#pqr .badge {
    background-color: #fd7e14;
}

.row {
    background-color: white
}

.col {
    border-color: black;
}

.pricing-features {
    list-style: none;
}

.mainheader {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.typeheader {
    font-size: 28px;
    text-align: center;
    font-weight: 700;
}

.col .temp1 {
    padding: 15px 15px;
}

.typesubheader {
    font-size: 20px;
    text-align: center;
    font-weight: 700;
}

.pricing-price {
    font-family: neue-haas-grotesk-text, Helvetica, sans-serif;
    ;
    font-size: 50px;
    color: black;
}

.pricing-features {
    text-align: center;
}

.abc {
    text-align: left;
}

.type3 {
    text-align: left;
}

#efg {
    text-align: center;
}

#temp .button {
    height: 15px;
}

.pricing-features-item-value {
    font-weight: 700;
}

.button-text {
    font-size: 14px;
    font-weight: bold;
}

#pqr {
    font-size: 13px;
    font-weight: 700;
    background-color: orangered!important;
}

#support-button {
    background-color: orangered!important
}

.button-text-top {
    font-weight: bold;
    font-size: 30px;
}

.save-badge {
    font-size: 14px;
    height: 40px;
    width: 140px;
    vertical-align: middle;
}

.badge .badge-color {
    background: orangered;
}

@media (min-width: 900px) {
    .panel {
        flex-direction: row;
    }
    .col {
        border: 1px solid #080808;
    }
}